openapi: 3.0.0
info:
  description: "Vagas API"
  version: "1.0.0"
  title: "Documentação oficial da API do projeto VAGAS"
servers:
  - url: https://apivagasdev.elite37.com.br
    description: Remote server
  - url: http://localhost:8080
    description: Local server
tags:
- name: "jobs"
  description: "Access to Jobs"
- name: "login"
  description: "Get token from Authentication"
- name: "companies"
  description: "Access to Companies"
- name: "users"
  description: "Access to users"

paths:
  /jobs/id/{id}:
    get:
      tags:
      - "jobs"
      summary: "get job by id"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: The job's ID.
      responses:
        "200":
          description: "Return without pagination"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobEntity"
        "403":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
  /jobs:
    get:
      tags:
      - "jobs"
      parameters:
        - in: query
          name: status
          schema:
            type: integer
            enum: [0, 1, 2, 3]
          description: |
              The status of the resource.
              - 0: "canceled"
              - 1: "active"
              - 2: "paused"
              - 3: "completed"
        - in: query
          name: city
          schema:
            type: string
            description: The city of a job that contains the value. Ex. São Paulo.
        - in: query
          name: search
          schema:
            type: string
            description: General search.
        - in: query
          name: name
          schema:
            type: string
            description: The name of the company that offers the job.
        - in: query
          name: created_by
          schema:
            type: string
            format: uuid
            description: The ID (uuid) from user that create a job.
        - in: query
          name: seniority
          schema:
            type: string
            description: The seniority requested by the job. Ex. junior.
        - in: query
          name: title
          schema:
            type: string
            description: The title of the Job.
        - in: query
          name: company_id
          schema:
            type: string
            description: The Id of Company that offers the job.
        - in: query
          name: modality
          schema:
            type: string
            description: The modality of a job that contains the value. Ex. remoto, presencial.
        - in: query
          name: regime
          schema:
            type: string
            description: The regime of a job that contains the value. Ex. PJ, CLT.
      summary: "get all jobs"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/JobSimple"
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
    post:
      tags:
      - "jobs"
      security:
        - bearerAuth: [bearerAuth] 
      summary: "create a job"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JobModel"
      responses:
        "201":
          description: "created"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobPostModel"
        "403":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
    put:
      tags:
      - "jobs"
      security:
        - bearerAuth: [bearerAuth] 
      summary: "update a job"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JobEntity"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobEntity"
        "403":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
  /jobs-status:
    put:
      tags:
      - "jobs"
      security:
        - bearerAuth: [bearerAuth]
      summary: "change jobs's status"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JobsStatusModel"  
      responses:
        "201":
          description: "successful operation"
        "400":
          $ref: '#/components/responses/BadRequest'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
  /jobs-report:
    post:
      tags:
      - "jobs"
      summary: "report a Job"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JobReportModel"  
      responses:
        "201":
          description: "created"
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
  /jobs/v2:
    get:
      tags:
      - "jobs"
      parameters:
        - in: query
          name: page
          schema:
            type: string
            description: Choose the pagination of the search.Ex page=1 return itens starts from the 1° position, page=2 returns itens starts from the 11° position. If not pass this arguments set to 1.
        - in: query
          name: limit
          schema:
            type: string
            description: Set the maximum quantity of itens from a page.
        - in: query
          name: status
          schema:
            type: integer
            enum: [0, 1, 2, 3]
          description: |
              The status of the resource.
              - 0: "canceled"
              - 1: "active"
              - 2: "paused"
              - 3: "completed"
        - in: query
          name: city
          schema:
            type: string
            description: The city of a job that contains the value. Ex. São Paulo.
        - in: query
          name: search
          schema:
            type: string
            description: General search.
        - in: query
          name: name
          schema:
            type: string
            description: The name of the company that offers the job.
        - in: query
          name: created_by
          schema:
            type: string
            format: uuid
            description: The ID (uuid) from user that create a job.
        - in: query
          name: seniority
          schema:
            type: string
            description: The seniority requested by the job. Ex. junior.
        - in: query
          name: title
          schema:
            type: string
            description: The title of the Job.
        - in: query
          name: company_id
          schema:
            type: string
            description: The Id of Company that offers the job.
        - in: query
          name: modality
          schema:
            type: string
            description: The modality of a job that contains the value. Ex. remoto, presencial.
        - in: query
          name: regime
          schema:
            type: string
            description: The regime of a job that contains the value. Ex. PJ, CLT.
      summary: "get all jobs version 2 with pagination"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/JobSimpleV2"
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
          
  /login:
    post:
      tags:
      - "login"
      summary: "get token from Authentication"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthModel"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Tokenization"
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
  /users/id/{id}:
    get:
      tags:
      - "users"
      summary: "get User by Id"
      security:
        - bearerAuth: [bearerAuth] 
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: The user ID
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserEntity"
        "403":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
  /reset-password-email:
    post:
      tags:
      - "users"
      summary: "request email to reset user's password"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResetPasswordEmailModel"
      responses:
        "200":
          description: "Password reset email sent."
        "400":
          $ref: '#/components/responses/BadRequest'
        "500":
          $ref: '#/components/responses/InternalError'
  /reset-password:
    post:
      tags:
      - "users"
      summary: "reset user's password"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResetPasswordEntity"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Tokenization"
        "400":
          $ref: '#/components/responses/BadRequest'
        "500":
          $ref: '#/components/responses/InternalError'
  /users:
    get:
      tags:
      - "users"
      summary: "get all Users"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserEntity"
        "403":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
    post:
      tags:
      - "users"
      summary: "register a user"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserModel"
      responses:
        "201":
          description: "created"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserEntity"
        "400":
          $ref: '#/components/responses/BadRequest'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
    put:
      tags:
      - "users"
      security:
        - bearerAuth: [bearerAuth]
      summary: "update a user"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPutModel"
      responses:
        "200":
          description: "successful operation"
        "400":
          $ref: '#/components/responses/BadRequest'
        "403":
          $ref: '#/components/responses/Unauthorized'
        "500":
          $ref: '#/components/responses/InternalError'
  /companies/id/{company_id}:
    get:
      tags:
      - "companies"
      security:
        - bearerAuth: [bearerAuth]
      summary: "get company by id"
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
          description: The company's ID.
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyEntity"
        "403":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
  /companies-list:
    get:
      tags:
      - "companies"
      security:
        - bearerAuth: [bearerAuth]
      summary: "get all companies"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CompanyEntity"
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'        
  /companies:
    get:
      tags:
      - "companies"
      parameters:
        - in: query
          name: page
          schema:
            type: string
            description: Choose the pagination of the search.Ex page=1 return itens starts from the 1° position, page=2 returns itens starts from the 11° position. If not pass this arguments set to 1.
        - in: query
          name: limit
          schema:
            type: string
            description: Set the maximum quantity of itens from a page.
      security:
        - bearerAuth: [bearerAuth]
      summary: "get all companies with pagination"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CompanyModelPaginacao"
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
    post:
      tags:
      - "companies"
      security:
        - bearerAuth: [bearerAuth] 
      summary: "create a company"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyModel"           
      responses:
        "201":
          $ref: '#/components/responses/CompanyResponse'
          # description: "created"
        "400":
          $ref: '#/components/responses/BadRequest'
        "403":
          $ref: '#/components/responses/Unauthorized'
        "500":
          $ref: '#/components/responses/InternalError'
    put:
      tags:
      - "companies"
      security:
        - bearerAuth: [bearerAuth] 
      summary: "update a company"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyPutModel"
      responses:
        "201":
          description: "successful operation"
        "400":
          $ref: '#/components/responses/BadRequest'
        "403":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
  /companies-status:
    put:
      tags:
      - "companies"
      security:
        - bearerAuth: [bearerAuth]
      summary: "change companies's status"
      requestBody:
        required: true
        content: 
          application/json:
            schema:
              $ref: "#/components/schemas/CompaniesStatusModel"
      responses:
        "201":
          description: "successful operation"
        "400":
          $ref: '#/components/responses/BadRequest'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
  /companies-image:
    post:
      tags:
      - "companies"
      security:
        - bearerAuth: [bearerAuth]
      summary: "change companies's image"
      requestBody:
        required: true
        content: 
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyImageModel"
      responses:
        "201":
          description: "created"
        "400":
          $ref: '#/components/responses/BadRequest'
        "403":
          $ref: '#/components/responses/Unauthorized'
        "500":
          $ref: '#/components/responses/InternalError'
  /companies-image/id/{companyId}:
    get:
      tags:
      - "companies"
      summary: "get company's image"
      parameters:
        - in: path
          required: true
          name: companyId
          schema:
            type: string
            format: uuid
          description: The company's ID.
      responses:
        "200":
          description: "successful operation"
          content:
            image/png:
              schema:
                type: string
                format: binary
                description: "PNG image"
            image/jpeg:
              schema:
                type: string
                format: binary
                description: "JPEG image"
        "400":
          $ref: '#/components/responses/BadRequest'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Auth header (Authorization) Access Token"
  responses:
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEntity'
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEntity'
    InternalError:
      description: Internal error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEntity'
    Unauthorized:
      description: Forbidden operation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEntity'
    CompanyResponse:
      description: companyId
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CompanyResponse'
  schemas:
    ErrorEntity:
      type: "object"
      properties:
        error:
          type: string
    FileReturn:
      type: "object"
      properties:
        image:
          type: string
    Tokenization:
      type: "object"
      properties:
        token:
          type: string
    JobsStatusModel:
      type: "object"
      properties:
        id:
          type: string
          format: uuid
        status:
          type: integer
          enum: [0, 1, 2, 3]
          description: |
              The status of the resource.
              - 0: "canceled"
              - 1: "active"
              - 2: "paused"
              - 3: "completed"
    CompaniesStatusModel:
      type: "object"
      properties:
        id:
          type: string
          format: uuid
        status:
          type: integer
          enum: [0, 1]
          description: |
              The status of the resource.
              - 0: "inactive"
              - 1: "active"
    AuthModel:
      type: "object"
      properties:
        email:
          type: string
          format: email
        password:
          type: string
    JobReportModel:
      type: "object"
      properties:
        jobId:
          type: string
          format: uuid
        description:
          type: string
    CompanyImageModel:
      type: "object"
      properties:
        companyId:
          type: string
          format: uuid
        image64:
          type: string
    UserEntity:
      type: "object"
      properties:
        id:
          type: string
          format: uuid
        profileID:
          type: string
          enum:
            - "recrutador"
            - "admin"
        name:
          type: string
        phone:
          type: string
        email:
          type: string
          format: email
    UserModel:
      type: "object"
      properties:
        name:
          type: string
        phone:
          type: string
          format: phone
        email:
          type : string
          format: email
        password:
          type: string
          description: A senha deve conter pelo menos 8 caracteres
    UserPutModel:
      type: "object"
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        phone:
          type: string
          format: phone
    ResetPasswordEmailModel:
      type: "object"
      properties:
        email:
          type: string
          format: email
    ResetPasswordEntity:
      type: "object"
      properties:
        token:
          type: string
          format: uuid
        password:
          type: string
        passwordConfirmation:
          type: string
    JobSimple:
      type: "object"
      properties:
        id:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
        title:
          type: string
        state:
          type: string
        status:
          type: string
          enum:
          - "paused"
          - "active"
          - "canceled"
          - "completed"
        createdBy:
          type: string
          format: uuid
        createdDate:
          type: integer
        regime:
          type: string
        companyName:
          type: string
        city:
          type: string
        modality:
          type: string
    JobSimpleV2:
      type: "object"
      properties:
        actualPage:
          type: string
        totalPages:
          type: string
        totalContents:
          type: string
        data:
          type: array
          items:
            $ref: "#/components/schemas/JobSimple"
    JobEntity:
      type: "object"
      properties:
        id:
          type: string
          format: uuid
        company_id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        seniority:
          type: string
        regime:
          type: string
        salary:
          type: number
          format: double
        state:
          type: string
        modality:
          type: string
        city:
          type: string
        link:
          type: string
        whatsapp:
          type: string
        email:
          type: string
    JobPostModel:
      type: "object"
      properties:
        id:
          type: string
          format: uuid
    JobModel:
      type: "object"
      properties:
        company_id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        seniority:
          type: string
        regime:
          type: string
        salary:
          type: number
          format: double
        state:
          type: string
        modality:
          type: string
        city:
          type: string
        link:
          type: string
        whatsapp:
          type: string
          format: phone
        email:
          type: string
          format: email
    CompanyEntity:
      type: "object"
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        location:
          type: string
        description:
          type: string
        status:
          type: integer
          enum: [0, 1]
          description: |
              The status of the resource.
              - 0: "inactive"
              - 1: "active"
    CompanyModelPaginacao:
      type: "object"
      properties:
        actualPage:
          type: string
        totalPages:
          type: string
        totalContents:
          type: string
        data:
          type: array
          items:
            $ref: "#/components/schemas/CompanyEntity"
    CompanyModel:
      type: "object"
      properties:
        name:
          type: string
        location:
          type: string
        description:
          type: string
    CompanyPutModel:
      type: "object"
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        location:
          type: string
        description:
          type: string
    CompanyResponse:
      type: "object"
      properties:
        id:
          type: string
          format: uuid
